<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="css/index.css">  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header"> 
        <div class="logo-company">
            <img src="assets/logo.png" alt="Logo Company">
        </div>
        <nav class="navbar">
            <div class="nav-item"><a href="index.html">Home</a></div>
            <div class="nav-item"><a href="profile.html">Our Profile</a></div>
            <div class="nav-item"><a href="#">Portofolio</a></div>
            <div class="nav-item"><a href="#message-us-section">Message Us</a></div>
        </nav>
    </div>
    <div id="hero" class="banner-hero">
        <div class="hero-wrapper"> 
            <img src="assets/profile-hero.jpg" alt="img-1" class="image-slider">
        </div>
        <div class="hero-text">
            <h1>Tentang</h1>
            <h1>Aditya Healthy Center</h1>
            <p>Kami hadir melayani segala keluha anda</p>
        </div>
        <div class="text-purpose">
            <p>Kami Hadir untuk Kamu </p>
        </div>
</body>
</html>